@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
.bebas-neue {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.roboto-flex {
	font-family: 'Roboto Flex', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

/* GallerySlider */

.slick-dots {
	bottom: calc(-1 * (8px + 60px)); /* 60px - distance from the edge of the slider to the center of the dots */
	display: flex !important;
	justify-content: center;
	gap: 10px;
	height: 24px;
}
.slick-dots li {
	margin: 0px; /* reset margins - spacing is created using the gap property in .slick-dots */
	width: 8px;
}
.slick-dots li button {
	padding: 4px;
	width: 8px;
}
.slick-dots li button::before {
	font-size: 8px; /* dots-size */
	opacity: 1 !important;
	color: #ededed;
	transition: color 0.3s;
	width: 8px;
}
.slick-dots li:hover button::before {
	color: #bababa;
}
.slick-dots li.slick-active button::before {
	color: #0147ff;
}
